.bg-container {
  background-color: #eef4f7;
  min-height: 100vh;
  padding: 10px;
}

.top-container {
  text-align: center;
}

.heading {
  font-family: 'Roboto';
  font-size: 34px;
  color: #334155;
}

.underline {
  width: 200px;
  border: 2px solid #52bbf0;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.list-items-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
